


<div class="modal-header">
  <h2 class="modal-title" id="modal-basic-title">Create Project</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  
  <form [formGroup]="registerForm" (ngSubmit)="createProject()">
    <div class="form-group">
        <label>Project Name</label>
        <input type="text" formControlName="project_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.project_name.errors }" />
        <div *ngIf="submitted && f.project_name.errors" class="invalid-feedback">
            <div *ngIf="f.project_name.errors.required">Project Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Project Description</label>
        <input type="text" formControlName="project_desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.project_desc.errors }" />
        <div *ngIf="submitted && f.project_desc.errors" class="invalid-feedback">
            <div *ngIf="f.project_desc.errors.required">Project Desc is required</div>
        </div>
    </div>
    <div class="form-group">
      
      <input type="checkbox" formControlName="create_data_doc" [(ngModel)]="checked" class="form-control" style="position: relative;height: 20px;right: 220px;"  />
      <label class="control-label text-left" style="position: relative;bottom: 20px;left: 35px;">Data Docs</label>
    
  </div>
    
    <hr>
    <div class="footer">
    <!-- <div class="form-group"> -->
        <button class="btn btn-primary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
        <button class="btn btn-primary" style="float: right;" (click)="createProject()">Create</button>
    <!-- </div> -->
  </div>
</form>
  <!-- <button (click)="createProject()" type="submit" class="btn btn-primary w-100">Create</button> -->
</div>

